<h2> Recently Added </h2>
<div>
    <% books.forEach(book => {  %>
    <a href="/books/<%= book.id %>">     
       <img height='150' width='180' src="<%= book.coverImagePath %>"> 
    </a>
    <% }) %>    
</div>