<h2 class="page-header"> Edit Author </h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
<%- include('../authors/_form_fields.ejs') %>
<a class="btn btn-primary" href="/authors">Cancel</a>
<button class="btn btn-primary" type="submit">Update</button>
</form>